body, html { 
    margin: 0; padding: 0; 
    width: 100%; height: 100%; 
    overflow: hidden;
    background-color: #008080; /* El verde clásico de Win98 */
}

#desktop {
    width: 100%; height: 100%;
}

.start-header {
    padding: 10px;
    background: linear-gradient(to right, #000080, #1084d0);
    color: white;
    font-weight: bold;
}

#clock {
    padding: 0 10px;
    line-height: 30px;
    font-family: 'MS Sans Serif', Arial;
    font-size: 12px;
}

fos-window {
    background-color: #c0c0c0 !important;
}

/* Estilo para el contenido de las carpetas */
.folder-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 20px;
    padding: 20px;
    background: #c0c0c0;
    height: 100%;
}

.exe-item {
    text-align: center;
    cursor: pointer;
}

.exe-item img { width: 32px; image-rendering: pixelated; }
.exe-item p { font-size: 11px; margin-top: 5px; }
